# ----------------------------------------------------------------------
# Операционные системы
# ----------------------------------------------------------------------
.DS_Store             # macOS
Thumbs.db             # Windows

# ----------------------------------------------------------------------
# Python
# ----------------------------------------------------------------------
__pycache__/          # Кэш байткода Python
*.pyc                 # Скомпилированные файлы Python
*.pyd
*.pyo

# Виртуальные окружения
venv/
env/
.venv/

# Файлы сборки (если будете упаковывать)
dist/
build/
*.egg-info/

# Файлы логов
*.log
*.sqlite3-journal

# ----------------------------------------------------------------------
# База Данных
# ----------------------------------------------------------------------
referral.db           # КРИТИЧНО: Ваш файл базы данных SQLite

# ----------------------------------------------------------------------
# Uvicorn/FastAPI
# ----------------------------------------------------------------------
.uvicorn.pid          # PID-файлы, используемые сервером
